.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #03224c;
  overflow: hidden;
}

.bg-image {
  background: url('@/assets/images/seahorse.png') no-repeat center calc(50% + 60px);
  margin-top: 2%;
  background-size: 40%;
  background-color: #03224c;
  height: 100%;
  width: 100%;
  position: fixed;
}

.fixed-phone,
.fixed-rope {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
}

.fixed-computer,
.fixed-routesetting {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -50%);
  width: 140px;
}

.fixed-routesetting {
  width: 120px;
}

.fixed-suitcase,
.fixed-book {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -45%);
  width: 100px;
}

.fixed-book {
  width: 90px;
}

@media (max-width: 320px) {
  .bg-image {
    background: url('@/assets/images/seahorse.png') no-repeat center center;
    background-size: 100%;
  }

  .fixed-phone,
  .fixed-rope,
  .fixed-suitcase,
  .fixed-book {
    width: 35px;
  }
  .fixed-computer,
  .fixed-routesetting {
    width: 40px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .bg-image {
    background: url('@/assets/images/seahorse.png') no-repeat center calc(50%);
    background-size: 100%;
  }

  .fixed-phone,
  .fixed-rope,
  .fixed-suitcase {
    width: 45px;
  }
  .fixed-book {
    width: 40px;
  }
  .fixed-computer,
  .fixed-routesetting {
    width: 55px;
  }
  .click {
    margin-top: 50%;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .bg-image {
    background: url('@/assets/images/seahorse.png') no-repeat center calc(50% + 50px);
    background-size: 80%;
  }

  .fixed-phone,
  .fixed-rope,
  .fixed-suitcase {
    width: 70px;
  }
  .fixed-book {
    width: 60px;
  }
  .fixed-computer,
  .fixed-routesetting {
    width: 80px;
  }
  .click {
    margin-top: 40%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .bg-image {
    background: url('@/assets/images/seahorse.png') no-repeat center center;
    background-size: 80%;
  }

  .fixed-phone,
  .fixed-rope,
  .fixed-suitcase {
    width: 100px;
  }
  .fixed-book {
    width: 90px;
  }
  .fixed-computer,
  .fixed-routesetting {
    width: 120px;
  }
  .click {
    margin-top: 20%;
  }
}
