.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-image {
  background: url('@/assets/images/octopus.png') no-repeat center center;
  margin-top: 2%;
  background-size: 40%;
  background-color: #03224c;
  height: 100%;
  width: 100%;
  position: fixed;
}

.fixed-phone,
.fixed-rope {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
}

.fixed-computer,
.fixed-routesetting {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -50%);
  width: 140px;
}

.fixed-routesetting {
  width: 120px;
}

.fixed-suitcase,
.fixed-book {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -45%);
  width: 100px;
}

.fixed-book {
  width: 90px;
}

.fixed-marelle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 330px;
}
.fixed-marelle:hover {
  width: 350px;
  transition: 0.5s;
}
